[submodule "plugins/zotero"]
	path = plugins/zotero
	url = git@github.com:texyaz/yaz-zotero.git
[submodule "plugins/obsidian"]
	path = plugins/obsidian
	url = git@github.com:texyaz/yaz-obsidian.git
[submodule "plugins/formats"]
	path = plugins/formats
	url = git@github.com:texyaz/yaz-formats.git
[submodule "plugins/learn"]
	path = plugins/learn
	url = git@github.com:texyaz/yaz-learn.git
